.planets-container {
    background-color: #e4c3e5;
    max-width: 100%;
    overflow-x: hidden;
    color: #276451;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.planets-pic {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.planet {
    padding-bottom: 10px;
}

.blurb {
    border-radius: 25px;
    border: 2px solid #276451;
    padding: 10px
}