.profile-container {
    background: linear-gradient(96deg, rgba(193, 210, 246, 1) 0%, rgba(227, 194, 230, 1) 39%, rgba(236, 205, 181, 1) 100%);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #276451;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    color: #276451;
    text-align: center;
    text-decoration: none;
    margin-bottom: 50px;
}

/* Hover effect */
.btn:hover {
    background-color: #276451;
    color: #d5fd56
}

/* Active effect */
.btn :active {
    background-color: #ff6666;
}

.edit-profile-container {
    background-color: #FAF6EC;
}

.btns-update-delete {
    display: flex;
    justify-content: space-between
}

.form-group {
    font-family: 'Unbounded';
    color: #276451;
}

.edit-title {
    font-family: 'Unbounded';
    color: #276451;
}


/* ViewProfile */

.details-header {
    font-family: 'Unbounded';
    font-weight: 600;
    color: #276451;
}

.info {
    color: #276451;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.big-three {
    color: #276451;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #276451;
    border-radius: 20px;
    padding: 20px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
}

h2.name {
    font-family: 'Unbounded';
    margin: 0 0 0 0;

}

.unbounded {
    font-family: 'Unbounded';
}

.profile-pic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    /* border:2px solid #276451 */
    /* margin-top: 50px; */
    filter: grayscale(100%);
}


.intro {
    font-family: 'Unbounded';
    font-weight: 600;
}

.bottom {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.sphere {
    color: #276451;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #276451;
    border-radius: 20px;
    padding: 20px;
}
.all-sphere{
    display: flex;
    flex-direction: column;

}

.profile-pictures {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* border:2px solid #276451 */
    filter: grayscale(100%);
    align-self: center;
    margin: 0px 0px 0px;
}
.all-profiles{
    display: flex;
    flex-wrap:wrap;

}

.sphere-profiles {
    margin: 10px 10px 10px;
}

.top-right{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-left: 20px;
}

.top{
    padding-top: 50px;
    align-content: center;
}