

.profile-container {
    background: linear-gradient(96deg, rgba(193, 210, 246, 1) 0%, rgba(227, 194, 230, 1) 39%, rgba(236, 205, 181, 1) 100%);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #28544E;
    ;
    cursor: pointer;
    font-family: 'YourCuteFont', sans-serif;
    font-size: 16px;
    color: #28544E;
    text-align: center;
    text-decoration: none;
}

/* Hover effect */
.btn:hover {
    background-color: #28544E;
    color: #d5fd56
}

/* Active effect */
.btn :active {
    background-color: #ff6666;
}

.edit-profile-container {
    background-color: #FAF6EC;
}

.btns-update-delete {
    display: flex;
    justify-content: space-between
}

.form-group {
    font-family: 'Unbounded';
        color: #28544E;
}

.edit-title {
    font-family: 'Unbounded';
    color: #28544E;
}


/* ViewProfile */

.details-header {
    font-family: 'Unbounded';
    color:#28544E;
}

.info {
    color:#28544E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.big-three {
    color: #28544E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #28544E;
    border-radius: 20px;
    padding: 20px;
    text: center;
}

.top {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

h2.name {
    font-family: 'Unbounded';
    margin: 0 0 1 0;
    border-bottom: 1.5px;
}

.unbounded {
    font-family: 'Unbounded';
}