.profile-container {
    background: linear-gradient(96deg, rgba(193, 210, 246, 1) 0%, rgba(227, 194, 230, 1) 39%, rgba(236, 205, 181, 1) 100%);
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #28544E;
    ;
    cursor: pointer;
    font-family: 'YourCuteFont', sans-serif;
    font-size: 16px;
    color: #28544E;
    text-align: center;
    text-decoration: none;
}

/* Hover effect */
.btn:hover {
    background-color: #28544E;
    color: #d5fd56
}

/* Active effect */
.btn :active {
    background-color: #ff6666;
}

.edit-profile-container {
    background-color: #FAF6EC;
}

.btns-update-delete {
    display: flex;
    justify-content: space-between
}

.form-group {
    border-radius: 20px;
    /* Adjust the value as per your preference */
}

.form-control {
    border-radius: 20px;
    /* Adjust the value as per your preference */
}