.houses-container {
    background-color: #d0cbef;
    max-width: 100%;
    overflow-x: hidden;
    color: #276451;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.house {
    padding-bottom: 100px;
}

.house-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.house-title {
    font-family: 'Unbounded';
    color: #276451;
    text-align: center;
    margin-top: 10px;
    font-weight: 800;
    padding: 0px 0px 0px;
}


.houses-pic img {
    max-width: 100%;
    height: auto;
}

.flower {
    color: #D5FD56
}