.user-container {
    background: #dfb0f6;
    color: #276451;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.searchUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.filter-container select {
    margin-right: 10px;
    /* Add some right margin between the selects */
}

.users {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.user {
    border: 2px solid #276451;
    border-radius: 20px;
    padding: 20px;
    text: center;
    background-color: d5fd56;
}

.user header {
    text-align: center;
}

.user-title {
    font-family: 'Unbounded';
    color: #276451;
    text-align: center;
}

.user-hover {
    background-color: #f5f5f5;
    /* Background color on hover */
}

a:visited{
    color: #276451;
}
a:hover{
    color: #d5fd56
}
a:active {
    color: #d5fd56
}