.risingSigns {
    display: flex;
    flex-direction: column;
}

.risingSign {
    background-color: lightsalmon;
    border: 2px dotted darkred;
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.rising-title {
    font-family: 'Unbounded';
        color: #28544E;
}