nav {
    background-color: #D5FD56;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid #276451;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
}

nav ul li {
    background-color: #D5FD56;
}

nav ul li:last-child {
    margin-left: auto;
}

nav a {
    display: block;
    padding: 0 10px;
    color: #276451;
    font-size: 17px;
    line-height: 60px;
    text-decoration: none;
}

nav a:hover {
    background-color: #276451;
    color: #D5FD56
}

/* Hide Dropdowns by Default */
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    /* the height of the main nav */
    z-index: 9999;
}

/* Display Dropdowns on Hover */
nav ul li:hover>ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width: 140px;
    float: none;
    display: list-item;
    position: relative;
    background-color: rgba(213, 253, 86, 0.75);
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 140px;
    width: 140px;
}


/* Change this in order to change the Dropdown symbol */
li>a:after {
    content: ' ◢';
    font-size: 12px;
}

li>a:only-child:after {
    content: '';
}